html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f0eee8;
  line-height: 1.5;
  color: #512200;
  margin: 0 0 5rem;
  font-size: .875rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

dl {
  display: flex;
  flex-flow: row wrap;
  border-top: 2px solid #785439;
  border-bottom: 2px solid #785439;
}

dt {
  flex-basis: 50%;
  text-align: left;
}

dd {
  flex-basis: 50%;
  margin: 0;
  text-align: left;
}

.nav {
  margin-top: 1em;
}

.nave {
  margin-bottom: 1em;
}

body {
  display: inline-block;
  border: 3px solid #9a816d;
  border-radius: 8px;
  background: #dcd4cd;
  padding: 1rem;
  font-size: 1.125rem;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  font-style: normal;
  color: #512200;
  margin: 0;
  margin-top: .15em;
  padding: 0;
}

.link-card h2 {
  color: #fff;
}

p {
  padding: 0;
  padding-right: 2em;
  margin: 0;
  font-size: 1.125rem;
  margin-top: 1em;
}

body:hover {
  background-color: #cabdb2;
}

.link-card {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  display: inline-block;
  padding: .5em .75em;
  background-color: #785439;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  margin-top: .8em;
  margin-bottom: 0;
  margin-left: 4.3em;
  text-align: center;
}

.link-card:hover {
  background-color: #512200;
  color: #fff;
}

.btn-dl {
  text-decoration: none;
  color:#512200;
}
