html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f0eee8;
  line-height: 1.5;
  margin: 0 0 5rem;
  font-size: .875rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.border {
  border-top: 2px solid #785439;
  border-bottom: 2px solid #785439;
  margin: 1rem 0;
}

.link-card dt {
  display: inline-block;
  width: 45%;
  text-align: left;
}

.link-card dd {
  margin: 0;
  display: inline-block;
  width: 45%;
  text-align: left;
}

.link-card {
  color: #512200;
  display: inline-block;
  border: 3px solid #9a816d;
  border-radius: 3px;
  background: #dcd4cd;
  padding: 1rem;
}

.link-card p {
  font-size: 1.125rem;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: normal;
  color: #512200;
  margin: 0;
  margin-top: .15em;
  padding: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

a.link-card {
  text-decoration: none;
}

.btn-wrap {
  text-align: center;
  margin: 0 0 1rem;
}

.btn {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  display: inline-block;
  padding: .4em .75em .5em;
  background-color: #785439;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
